.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.infobox {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}